* {
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
}

section{
    background-color: rgb(46, 46, 51);
    border-radius: 1em;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
}

button{
    margin-top: 0.5rem;
    border-color: rgb(46, 46, 51);
    background-color: rgb(46, 46, 51);
    border-style: none;
    height: 3rem;
    width: 6rem;
    color: rgb(155, 156, 157);
    border-radius: 1rem;
    font-size: 1rem;
}

button:hover{
    background-color: RGB(41, 41, 41);
}

button:active{
    background-color: rgb(20, 20, 20);
}

img{
    margin-left: 1em;
    max-height: 15em;
    border-radius: 1rem;
    max-width: 20rem;
    display: inline;
    object-fit: cover;
}

ul{
    justify-content: space-evenly;
    display: flex;
    padding: 0;
}

footer{
    margin-bottom: 1em;
    margin-top: 1em;
}

body{
    width: 40em;
    margin:auto;
    background-color: rgb(29, 30, 32);
}

h1{
    color: rgb(218, 218, 219);
    margin-bottom: 0;
}

h2{
    color: rgb(218, 218, 219);
    margin-top:0;
}

h3{
    color: rgb(218, 218, 219);
    margin:0;
}

li{
    color: rgb(155, 156, 157);
    margin:0;
}

a{   
    color: rgb(155, 156, 157);
    margin:0;
}

ul{
    color: rgb(155, 156, 157);
    margin:0;
}

p{
    color: rgb(155, 156, 157);
    margin:0;
}

iframe{
    margin-top: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media only screen and (max-width:1024px){
    body{
        width: 90%;
    }
    p{
        font-size: 50px;
    }
    h1{
        font-size:60px;
    }
    h2{
        font-size: 50px;
        margin-bottom: 1rem;
    }
    a{
        font-size:50px;
    }
    section{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    ul{
        margin-bottom: 3rem;
    }
    img{
        display: none;
    }
    #informationDiv{
        max-width: 850px;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
        white-space: nowrap;
    }
    #bonus-content{
        width: 100%;
        height: 40rem;
    }
}